workflows/Talk to your SQLite database with a LangChain AI Agent 🧠💬.json
{
  "active": false,
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Load local chinook.db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract zip file": {
      "main": [
        [
          {
            "node": "Save chinook.db locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Load local chinook.db": {
      "main": [
        [
          {
            "node": "Combine chat input with the binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chinook.zip example": {
      "main": [
        [
          {
            "node": "Extract zip file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Get chinook.zip example",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine chat input with the binary": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-14T00:37:25.823Z",
  "id": "K3dV2lkkgXCDxsFP",
  "meta": {
    "templateId": "2292",
    "templateCredsSetupCompleted": true
  },
  "name": "Talk to your SQLite database with a LangChain AI Agent 🧠💬",
  "nodes": [
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "3544950e-4d8e-46ca-8f56-61c152a5cae3",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1160,
        1020.9454545454546
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "cc30066c-ad2c-4729-82c1-a6b0f4214dee",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        440,
        440.9454545454546
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip",
        "options": {}
      },
      "id": "0deacd0d-45cb-4738-8da0-9d1251858867",
      "name": "Get chinook.zip example",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        440.9454545454546
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {},
      "id": "61f34708-f8ed-44a9-8522-6042d28511ae",
      "name": "Extract zip file",
      "type": "n8n-nodes-base.compression",
      "position": [
        840,
        440.9454545454546
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "./chinook.db",
        "dataPropertyName": "file_0",
        "options": {}
      },
      "id": "6a12d9ac-f1b7-4267-8b34-58cdb9d347bb",
      "name": "Save chinook.db locally",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        1040,
        440.9454545454546
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "./chinook.db",
        "options": {}
      },
      "id": "701d1325-4186-4185-886a-3738163db603",
      "name": "Load local chinook.db",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        560,
        880.9454545454546
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Run this part only once\nThis section:\n* downloads the example zip file from https://www.sqlitetutorial.net/sqlite-sample-database/\n* extracts the archive (it contains only a single file)\n* saves the extracted `chinook.db` SQLite database locally\n\nNow you can use chat to \"talk\" to your data!",
        "height": 372.9454545454546,
        "width": 834.3272727272731
      },
      "id": "d7b3813d-8180-4ff1-87a4-bd54a03043af",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## On every chat message:\n* the local SQLite database is loaded\n* JSON from Chat Trigger is combined with SQLite binary data",
        "height": 297.89090909090913,
        "width": 558.5454545454544
      },
      "id": "6bd25563-2c59-44c2-acf9-407bd28a15cf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        760.9454545454546
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Chat Trigger').item.json }}\n",
        "options": {
          "includeBinary": true
        }
      },
      "id": "2be63956-236e-46f7-b8e4-0f55e2e25a5c",
      "name": "Combine chat input with the binary",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        880.9454545454546
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "### LangChain SQL Agent can make several queries before producing the final answer.\nTry these examples:\n1. \"Please describe the database\". This input usually requires just 1 query + an extra observation to produce a final answer.\n2. \"What are the revenues by genre?\". This input will launch a series of Agent actions, because it needs to make several queries.\n\nThe final answer is stored in the memory and will be recalled on the next input from the user.",
        "height": 511.16641410437836,
        "width": 471.99692219161466
      },
      "id": "7f4c9adb-eab4-40d7-ad2e-44f2c0e3e30a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5ecaa3eb-e93e-4e41-bbc0-98a8c2b2d463",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        360,
        880.9454545454546
      ],
      "webhookId": "fb565f08-a459-4ff9-8249-1ede58599660",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8161545c-07c2-4dc6-a7a8-cc1bdaf37b44",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        1020
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "hM4lGWP3F1EoWvQ6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "dataSource": "sqlite",
        "options": {}
      },
      "id": "ac819eb5-13b2-4280-b9d6-06ec1209700e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        960,
        880.9454545454546
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-07-14T00:42:25.000Z",
  "versionId": "fda2796d-8698-425f-83c7-f9dd87c7b650"
}